

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
	
  font-family: "Luckiest Guy";
  margin-top: 50px;
  justify-content: center;
  height: 100vh	;
  background: #f4a900;

}
.texto1, .texto2{
  background-position: center;
  box-sizing: content-box;
text-align: center;
  font-size: 50px;
  color: white;
  text-shadow: 1px 1px 0px #a9a9a9, 2px 2px 0px #a2a2a2, 3px 3px 0px #b5b5b5,
                   4px 4px 0px black,
                   5px 5px 0px black,
                   40px 10px 3px black;

}

.texto2{
  margin-top: 25px;
}
.Bryner, .Diego, .Eunice{
  margin-top: 25px;
  margin-bottom: 25px;
  float: center;
}
.imagenBryner, .imagenDiego, .imagenEunice{
  width: 220px;
   height: 220px;
   float: center;
}
.datos{
  display: block;
}
.box{
 display: inline-block;
 padding: 10px;
 
}
ul{
  list-style-type: none;
}
